<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>RAW-2-FHIR-Automapper</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Database Information</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="url">Database Endpoint:</label>
      <input type="text" class="form-control" id="url" name="url" placeholder="http://www.example.com">
      <br>
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="john@example.com">
      <br>
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter the password.">
 
 
    </div>
    <!--<button type="submit" class="btn btn-success">Automap</button>-->
    <button type="submit" class="btn btn-success">Automap</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(category_filter=["info"]) %}
            {% if messages %}
				{% for message in messages %}
					{% if "Error" not in message[1]: %}
						<div class="alert alert-info">
						<strong>Success! </strong> {{ message }}
						</div>
					{% endif %}
		 
					{% if "Error" in message[1]: %}
						<div class="alert alert-warning">
						{{ message }}
						</div>
					{% endif %}
				{% endfor %}
            {% endif %}
		{% endwith %}
		
		{% with errors = get_flashed_messages(category_filter=["error"]) %}
			{% if errors %}
				{% for message in errors %}
				<div class="alert alert-warning">
				<strong>Error! </strong> {{ message }}
				</div>
				{% endfor %}
            {% endif %}			
		{% endwith %}
			
		{% with mappings = get_flashed_messages(category_filter=["mappings"]) %}
			{% if mappings %}
				{% for message in mappings %}
					<br><table border="1" cellpadding="1" cellspacing="1">
					<th>Raw Data</th>	<th>FHIR Mapping</th>
					{% for raw,fhir in mappings[0].iteritems() %}
						<tr>
						<td>{{ raw }}</td>
						<td>
							<select name="{{ raw }}">
							<option value="{{ fhir }}" selected>{{ fhir }}</option>
							{% with fhirlist = get_flashed_messages(category_filter=["fhirfields"]) %}
								{% for fhir_field in fhirlist[0] %}
									<option value="{{ fhir_field }}">{{ fhir_field }}</option>
								{% endfor %}
							{% endwith %}
							</select>
						</td>
						</tr>
					{% endfor %}
					</table><br>
					<button type="button" class="btn btn-success">Save Mapping</button>
				{% endfor %}
			{% endif %}
        {% endwith %}

</div>
<br>            
</div>
</div>
</body>
</html>