<!DOCTYPE HTML>
<html>
	<head>
		<title>AutoMapper Result</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
        <script src="static/js/jquery-3.min.js"></script>

	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<a href="home" class="title">Back</a>
                <style>
                    /* Style the tab */
                    .tab {
                        overflow: hidden;
                        border: 1px solid #ccc;
                        background-color: #f1f1f1;
                    }

                    /* Style the buttons inside the tab */
                    .tab button {
                        color: black! important;
                        background-color: inherit;
                        float: left;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        /*padding: 14px 16px;*/
                        height: calc(2.75em + 2px);
                        line-height: 0px;
                        border-radius: 0;
                        transition: 0.3s;
                        font-size: 17px;
                    }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: #ddd;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {
                        background-color: #ccc;
                    }

                    /* Style the tab content */
                    .tabcontent {
                        display: none;
                    }
                    </style>
			</header>


		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">

                            <!--Tabs-->
                            <div class="tab">
                                {% for table in selected_tables %}
                                    <button class="tablinks" onclick="openTab(event, '{{ table }}')">{{ table }}</button>
                                {% endfor %}
                            </div>

                            <br>

                            {% with messages = get_flashed_messages(category_filter=["info"]) %}
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if "Error" not in message[1]: %}
                                            <div class="alert alert-info">
                                            <strong>Success! </strong> {{ message }}
                                            </div>
                                        {% endif %}

                                        {% if "Error" in message[1]: %}
                                            <div class="alert alert-warning">
                                            {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                            <br>

                            <button type="button" class="btn btn-success">Save Mapping</button>


                            <!-- Set content for each tab-->

                            {% for table in selected_tables %}
                                    {% set table_identifier = table %}

                                    <!-- Start table content -->

                                    <div id="{{ table }}" class="tabcontent" style="display: block;">

                                        <!-- Display any errors-->
                                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                            {% if errors %}
                                                {% for message in errors %}
                                                <div class="alert alert-warning">
                                                <strong>Error! </strong> {{ message }}
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}

                                        <!-- Load table content -->
                                        {% set category_filter_1 = "mappings-"+table %}

                                        {% with mappings = get_flashed_messages(category_filter=[category_filter_1]) %}

                                            {% if mappings %}
                                                {% for message in mappings %}
                                                    <br><table border="1" cellpadding="1" cellspacing="1">
                                                    <th>Raw Data</th>	<th>FHIR Resource Name</th> <th>FHIR Resource Value</th>
                                                    {% for raw, fhir in mappings[0].iteritems() %}
                                                        <tr>
                                                        <td>{{ raw }}</td>
                                                        <td>
                                                            <select name="{{ raw }}_fhir_name" id="{{ table_identifier }}-name-{{ loop.index }}">
                                                                <option value="{{ fhir[0] }}" selected>{{ fhir[0] }}</option>
                                                                {% with fhir_names_list = get_flashed_messages(category_filter=["fhir_names"]) %}
                                                                    {% for fhir_name in fhir_names_list[0] %}
                                                                        <option value="{{ fhir_name }}">{{ fhir_name }}</option>
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="{{ raw }}" id="{{ table_identifier }}-value-{{ loop.index }}">
                                                            <option value="{{ fhir[1] }}" selected>{{ fhir[1] }}</option>
                                                            {% set category_filter_2 = "fhirfields-"+table %}

                                                            {% with fhirlist = get_flashed_messages(category_filter=[category_filter_2]) %}
                                                                {% for fhir_field in fhirlist[0] %}
                                                                    <option value="{{ fhir_field }}">{{ fhir_field }}</option>
                                                                {% endfor %}
                                                            {% endwith %}
                                                            </select>
                                                        </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </table>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </div>


                                    <!--End table content-->

                            {% endfor %}



						</div>
					</section>
			</div>


    <script src="static/js/constants.js"></script>

    <script>

        function removeOptions(select_element)
        {
            var i;
            for(i = select_element.options.length - 1 ; i >= 0 ; i--)
            {
                select_element.remove(i);
            }
        }

        $( document ).ready(function() {
            $('select').on('change', function (e) {
                var id = e.target.id;
                var id_split = id.split("-");
                // console.log(id_split);


                if (id_split[1] === 'name'){
                    console.log(id + " clicked");
                    var optionSelected = $("option:selected", this);
                    var valueSelected = this.value;
                    console.log("Value selected: " + valueSelected);
                    console.log(window[valueSelected]);

                    var operator_name = id_split[0] + '-' + 'value' + '-' + id_split[2] ;
                    console.log("Operator name:" + operator_name);

                    var replace_select = document.getElementById(operator_name);

                    removeOptions(replace_select);

                    // Add new options
                    for (var i = 0; i < window[valueSelected].length; ++i) {
                        replace_select.append(new Option(window[valueSelected][i], window[valueSelected][i], false, false));
                    }
                }
            });
        });

        function openTab(evt, tableName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tableName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

	</body>
</html>
